body {
  background-image: url(../images/bricks-brickwall-brickwork-1092364.jpg);
  background-size: cover;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}

nav {
  font-family: "Montserrat", sans-serif;
  border: 5px;
  background: black;
}

#home {
  margin-top: 100px;
  text-align: center;
  text-justify: inter-character;
  vertical-align: center;
  line-height: 2;
}

footer {
  background-color: black;
}
