body {
  background-image: url(../images/bricks-brickwall-brickwork-1092364.jpg);
  background-size: cover;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}

nav {
  font-family: "Montserrat", sans-serif;
  border: 5px;
  background: black;
  margin-bottom: 100px;
}

#home {
  margin: 100px auto 100px auto;
  text-align: center;
  text-justify: inter-character;
  vertical-align: center;
  line-height: 2;
}

#portfolio {
  margin: 100px auto 100px auto;
  text-align: center;
}

#contact {
  margin: 100px auto 100px auto;
  text-align: center;
}

.card {
  background: none;
  border: none;
}
